/* styles */
main .features {
  margin-block-start: 5rem;
}

main .features .section-heading h2 {
  font-size: clamp(var(--fs-300), 4vw, var(--fs-600));
}

main .features .container {
  width: calc(100% - 10rem);
  min-height: 120rem;
  margin: 8rem auto;
}

main .features .image {
  min-width: 20rem;
  height: 34rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 180px;
  top: 8rem;
  transition: 300ms ease;
  animation: upDown 1500ms alternate infinite;
}

main .features .image > .feature-icon {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 7rem;
  backdrop-filter: blur(50px);
  transition: 200ms ease;
}

main .features .feature-img {
  position: relative;
}

main .features .feature-img .icon {
  position: absolute;
  top: -2.25rem;
  right: -1.25rem;
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  background-color: #ffffff00;
  backdrop-filter: blur(50px);
  border-radius: 50%;
  display: none;
}

main .features p {
  width: 23ch;
  font-size: 1.875rem;
  color: var(--gray-600);
}

/* animation start*/

@keyframes upDown {
  from {
    transform: rotate(6deg) translateY(20px);
  }
  to {
    transform: rotate(6deg) translateY(0);
  }
}

/* animation end */

@media (max-width: 62.125rem) {
  main .features .container {
    width: calc(100% - 4rem);
    min-height: 120rem;
    margin: 8rem auto;
  }

  main .features p {
    width: initial;
    font-size: clamp(var(--fs-200), 3vw, var(--fs-300));
  }
}

@media (max-width: 50rem) {
  main .features {
    overflow: hidden;
  }

  main .features .container {
    min-height: 50rem;
  }

  main .features .image {
    display: none;
    animation: none;
  }

  main .features .frame .feature {
    display: grid;
    place-items: center;
    gap: 3rem;
  }

  main .features .frame img:first-of-type {
    display: block;
    width: 23rem;
    aspect-ratio: 3 / 3.25;
    object-fit: cover;
    border-radius: 20px;
  }

  main .features .frame .feature-img .icon {
    display: block;
  }

  main .features .frame .feature img {
    transform: translateX(-200px);
    transition: 500ms ease;
    opacity: 0;
  }
  main .features .frame .second-feature img {
    transform: translateX(200px);
  }

  main .features .content {
    text-align: center;
    gap: 1.25rem;
  }
}

/* utilities */
main .features .frame .feature-img img.translateX-0 {
  transform: translateX(0);
  opacity: 1;
}
