/* header */
.primary-header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.071);
  backdrop-filter: blur(50px);
  z-index: 99;
}

.primary-header .nav-links ul {
  width: 100%;
}

.primary-header .nav-links .logo img {
  max-width: 5rem;
}

/* hero section => generale styles */

.hero > .container {
  width: calc(100% - 4rem);
  margin-block: 6rem;
}

.hero .first-column .image,
.hero .last-column .image {
  border-radius: 150px;
}

/* hero first column */

.hero .first-column .image {
  align-self: start;
  width: 16rem;
  height: 26rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* hero second column */
.hero .second-column {
  display: grid;
  place-items: center;
  gap: 3rem;
}

/* second column first copy */
.hero .first-copy h1 {
  font-size: clamp(var(--fs-300), 4vw, var(--fs-600));
  line-height: 1.5;
  width: 20ch;
  position: relative;
}

.hero .first-copy h1 > img {
  width: 30rem;
  position: absolute;
  top: -7rem;
  left: 2rem;
  z-index: -1;
}

.hero .first-copy p {
  width: 40ch;
}

/* second column second copy */
.hero .second-copy h2 {
  color: var(--brown);
  font-size: clamp(var(--fs-300), 4vw, var(--fs-350));
}

.hero .second-copy p {
  width: 15ch;
}

.hero .second-copy .scroll-down img {
  transform: rotate(90deg);
  padding: 0.5rem;
  border-radius: 30px;
  width: 3rem;
}

/* hero last column */
.hero .last-column .image {
  align-self: end;
  width: 15rem;
  height: 20rem;
  box-shadow: -2.5rem 2.5rem 3rem #ff902180;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* hovring styles */
.primary-header .nav-links a:not(.primary-btn, .socialm-icon):hover,
.primary-header .nav-links .close:hover {
  color: var(--brown);
}

.primary-btn:hover {
  background-color: transparent;
  outline: 1px solid var(--dark-800);
  color: var(--dark-800);
}

/* media queries */

@media (max-width: 65rem) {
  .hero {
    height: initial;
  }

  .hero .container {
    grid-auto-flow: initial;
    gap: 3rem;
  }

  .hero .container *:first-child,
  .hero .container *:last-child {
    place-items: center;
  }

  .hero .first-column {
    order: 1;
  }

  .hero .first-column .image {
    border-radius: 20px;
    width: calc(100% - 5rem);
    height: 30rem;
  }

  .hero .second-column > .second-copy {
    display: none;
  }

  .hero .last-column {
    display: none;
  }
}

@media (max-width: 50rem) {
  /* header */
  .primary-header .nav-links {
    display: flex;
    align-items: end;
    padding-inline: 1.5rem;
    position: relative;
  }

  .primary-header .nav-links li:not(.logo) {
    display: none;
  }

  .primary-header .nav-links .hamburger-menu {
    display: block;
    width: 1.15rem;
    margin-right: 0.5rem;
  }

  .primary-header .nav-links .menu-list.open-menu {
    display: grid;
    place-items: center;
    gap: 1.5rem;
    min-width: calc(100% - 10rem);
    height: 30rem;
    padding: 3rem 0.875rem;
    background: linear-gradient(
      45deg,
      rgb(255, 240, 201) 0%,
      rgb(253, 244, 223) 100%
    );
    box-shadow: 0 0 100px rgba(85, 85, 85, 0.145);
    position: fixed;
    top: 28rem;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    border-radius: 30px;
  }

  .menu-list .socialm-icon img {
    width: 1rem;
  }

  .primary-header .nav-links ul {
    justify-content: end;
  }
}

@media (max-width: 43rem) {
  /* hero */
  .hero .first-column .image {
    width: calc(100% - 3rem);
    height: 26rem;
  }
}

@media (max-width: 30rem) {
  /* heder */
  .primary-header .nav-links .menu-list.open-menu {
    width: calc(100% - 4rem);
  }

  .primary-header .nav-links ul {
    padding-inline: 0.5rem;
  }

  /* hero */
  .hero > .container {
    width: 100%;
  }

  .hero .first-copy p {
    font-size: var(--fs-150);
  }
}

@media (max-width: 27rem) {
  .primary-header .menu-list a {
    font-size: var(--fs-100);
    content: "ksksksk";
    text-align: center;
  }
  /* hero */
  .hero > .container {
    width: 100%;
    padding-inline: 2rem;
  }

  /* hero */
  .hero .first-column .image {
    width: 100%;
    height: 20rem;
  }

  .hero .first-copy h1,
  .hero .first-copy p {
    width: 100%;
    text-wrap: balance;
  }
}

@media (max-width: 20rem) {
  /* hero */
  .hero > .container {
    padding-inline: 1.5rem;
  }

  .hero .first-copy p {
    font-size: var(--fs-100);
  }
}
