main .order {
  width: calc(100% - 20rem);
  margin: 5rem auto;
  display: grid;
  gap: 4rem;
}

main .order .section-heading div {
  background-color: #ffe5c3;
  padding: 0.5rem 0.875rem;
  border-radius: 30px;
}

main .order .section-heading h2 {
  font-size: clamp(var(--fs-300), 4vw, var(--fs-600));
}

main .order .container {
  background: #fff4e4;
  box-shadow: 10px 10px 0 var(--beige-500);
  border: 2px solid #202020;
  border-radius: 20px;
  padding: 1.5rem;
}

/* Left Side */
main .order .left-side {
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  pointer-events: none;
  border-radius: 20px;
}

/* Right Side */
main .order .right-side {
  padding: 2rem;
}

/* logo */
main .order .logo > img {
  width: 6rem;
  aspect-ratio: 3 / 2;
  object-fit: contain;
  mix-blend-mode: darken;
  padding-inline: 1.25rem;
}

main .order .logo::before,
main .order .logo::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background: var(--dark-600);
}

main .order .logo::before {
  left: 0;
}

.logo::after {
  right: 0;
}

/* Inputs and Labels */
main .order input,
main .order select {
  width: 100%;
  padding: 0.875rem;
  border: 2px solid #2020208d;
  outline: 0;
  border-radius: 5px;
  background-color: transparent;
  transition: all 300ms ease;
}

main .order input {
  font-family: var(--roboto-ff);
  font-size: var(--fs-150);
  font-weight: var(--fw-medium);
  color: var(--dark-700);
}

main .order select {
  padding: 0.25rem 0.5rem;
  color: var(--gray-500);
}

main .order input:focus {
  border: 2px solid var(--dark-700);
}

main .order input:-webkit-autofill,
main .order input:-webkit-autofill:hover,
main .order input:-webkit-autofill:focus,
main .order input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #000;
  transition: background-color 5000s ease-in-out 0s;
}

main .order input::placeholder {
  font-size: var(--fs-100);
  font-family: var(--primary-ff);
}

main .order label {
  width: fit-content;
}

/* Submit Button */
main .order .submit-btn {
  padding: 0.875rem 0;
  margin: 1rem 0;
  border: 2px solid #2020208d;
  border-radius: 5px;
  background-color: #ffffff00;
  transition: all 300ms ease;
}

main .order .submit-btn:hover {
  background-color: var(--dark-700);
  color: #eee;
}

/* media queries */
@media (max-width: 77.875rem) {
  main .order {
    width: calc(100% - 6rem);
  }
}

@media (max-width: 59.5rem) {
  main .order .container {
    flex-direction: column;
  }

  main .order .left-side {
    display: none;
  }
}

@media (max-width: 43rem) {
  main .order {
    width: calc(100% - 3rem);
  }

  main .order .right-side {
    padding-inline: 0;
  }

  main .order .right-side option {
    font-size: var(--fs-100);
  }
}

@media (max-width: 34rem) {
  main .order .right-side h3 {
    font-size: var(--fs-600);
  }

  main .order .right-side p {
    font-size: var(--fs-250);
    line-height: 1;
    text-wrap: balance;
  }

  main .order .right-side .user-name-phone {
    flex-direction: column;
  }

  main .order .logo::before,
  main .order .logo::after {
    width: 35%;
  }

  main .order .right-side .note p {
    font-size: var(--fs-150);
  }
}
